/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*! Html documentissä käytettiin id:tä*/

#storefront {/*määrittelee ensimmäisen välilehden koon*/
    height: 100%;
    width: 700px;
}

#imgsf{ /*määrittelee etusivukuvan koon*/
    position: relative;
    left: 12px;
    top: 12px;
    max-width: 700px;
    max-height: 700px;
}
#sf1 {
    /*max-height: 700px;
    max-width: 700px;*/
}
#sf1 p, h2 {
    text-align: left;
    margin: 15px;
}
#sf2 {

}
#sf3 {

}
#sf4 {

}
p{
    font-size: 0.8em;
    font-family: sans-serif;
}

#kartta iframe {
    max-width: 600px;
    height: 450px;
    position: relative;
    top: 15px;
    left: 15px;
}

.login{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 40px;
    width: 100%;
    position: absolute;
    top:0px;
    background-color: black;
    box-shadow: 0 0 0.3em 0.3em black;
}



.valilehti{ /*määrittelee sisältövälilehtien näyttötavan, alussa piilossa aloitusvälilehteä lukuunottamatta*/
    display: none;
    width: 700px;
}

#storefront{
    display: block;
}


.imgrow { /*määrittelee kuvaristikoiden näyttötavan*/
    display: flex;
    position: relative;
    top: 40px;
    left: 40px;
    flex: 33%;
    margin: 5px;
}

.pieni {
    padding: 1px;
    transition: transform.2s;
    width: 200px;
    height: 200px;
}

.pieni:hover { /*suurentaa kuvan kun viedään hiiri sen päälle*/
    transform: scale(2.0);
    z-index: 10;
}

body{ /*määrittelee taustan visuaaliset elementit ja yleiset fonttitasetukset sivustolle*/
    font-family: 'Charmonman', cursive;
    /*font-family: Arial;*/
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url("green_dust_scratch.png");
}

#content{ /*määrittelee sisällön koon*/
    display: inline-block;
    position: center;
    top: 100px;
    background-image: url("light-veneer.png");
    background-size: auto;
    box-shadow: 0 0 0.3em 0.3em #80C9A6;

}
#contentRight{ /*sijoittaa valikon*/
    display: inline-block;
    /*float: right;*/
    align-content: center;
    width: 260px;
    top: 0px;
}
#contentLeft{ /*sijoittaa sisällön*/
    float: left;
    display: inline-block;
    /*position: absolute;/*/
    object-fit: contain;
    width: 700px;
    height: 500px;
}
#yhttiedot{
    display: inline-block;
    position: relative;
    top: 25px;
    left: 70px;

}

#container{ /*ylimmän tason yksikkö <-kaikki tämän sisällä*/
    position: relative;
    top: 60px;
    display: inline;
}
#lomake{

}

#flower{
    margin: 5px;
    max-height: 400px;
}

.singup{
    display: block;
    position: relative;
    top: 50px;
    align-content: center;
}

/*.valilehti:target{ <-mahdollinen ratkaisu animaatioon, testataan myöhemmin pseudo-class: target
    display: block;
}*/

h1 {
    text-shadow: 2px 2px 2px #ccc;
    cursor: default;
}

h2 {
    text-shadow: 2px 2px 2px #ccc;
    cursor: pointer;;
}


li{ /*poistaa pallurat sivuvalikosta*/
    list-style-type: none;
    position: relative;
    right: 17px;
    text-shadow: 1px 1px 1px #ccc;
}

li:hover{ /*värjää "linkit" sinisiksi, parantaa erottuvuutta*/
    color: blue;
    cursor: pointer;;
}
#valikko a {
    list-style-type: none;
    position: relative;
    right: 17px;
    text-shadow: 1px 1px 1px #ccc;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
#valikko a:hover {
    color: blue;
}
.kuvatilaa {
    max-width: 100px;

}
.tilaavlehti1 {
    display: flex;
    position: relative;
    top: 40px;
    left: 40px;
    flex: 33%;
    margin: 5px;
}
.tilaavlehti2 {
    display: flex;
    position: relative;
    top: 40px;
    left: 40px;
    flex: 33%;
    margin: 5px;
}
#bottomt {
  position: center;
    margin: 40px;
}
