/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*! Html documentissä käytettiin id:tä*/
#storefront {/*määrittelee ensimmäisen välilehden koon*/
    height: 100%;
    width: 700px;
}

#imgsf{ /*määrittelee etusivukuvan koon*/
    height:500px;
    width: 700px;
}
#sf1 {
    max-height: 700px;
    max-width: 700px;
}
#sf1 p {

}
#sf2 {

}
#sf3 {

}
#sf4 {

}
p{
    font-size: 24px;
}

#kartta iframe {
    max-width: 600px;
    height: 450px;
    border:0 ;

}

.valilehti{ /*määrittelee sisältövälilehtien näyttötavan, alussa piilossa aloitusvälilehteä lukuunottamatta*/
    display: none;
    width: 700px;
}

#storefront{
    display: block;
}


.imgrow { /*määrittelee kuvaristikoiden näyttötavan*/
    display: flex;
    flex: 33%;
}

.pieni {
    padding: 0px;
    transition: transform.2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.pieni:hover { /*suurentaa kuvan kun viedään hiiri sen päälle <-tällä hetkellä vain uloin rivi toimii*/
    transform: scale(2.0);
}

body{ /*määrittelee taustan visuaaliset elementit*/
    font-family: 'Charmonman', cursive;
    font-size: 36px;
    height: 100%;
    width: 100%;
    background: url("tausta_testi.jpg");
}

#content{ /*määrittelee sisällön koon*/
    max-width: 70%;
    min-width: 70%;
    object-fit: contain;
    margin: 0 auto;
}
#contentRight{ /*sijoittaa sisältövälilehdet*/
    position: relative;
    top: 0px;
    left: 250px;

}
#contentLeft{ /*sijoittaa valikon ruudun sivulle*/
    float: left;
    width: 500px;
}

#container{
    margin: 0 auto;
}


li{ /*poistaa pallurat sivuvalikosta*/
    list-style-type: none;
}
